<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/cropperjs@1.5.13/dist/cropper.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="flex">

      <!-- Sidebar -->
      <aside class="w-64 bg-white h-screen p-6 shadow-lg">
        <div class="fixed flex flex-col">
          <div class=" text-2xl font-bold mb-10 pr-5">Admin Dashboard</div>
    
          <!-- Navigation Menu -->
          <nav class="space-y-4">
            <a href="/admin/dashboard" class="flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded">
              <span class="material-icons">dashboard</span>
              <span class="ml-2">Dashboard</span>
            </a>
            <a href="/admin/products" class="flex items-center text-red-700 hover:bg-red-200 p-2 rounded">
              <span class="material-icons">inventory</span>
              <span class="ml-2">Products</span>
            </a>
            <a href="/admin/category" class="flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded">
              <span class="material-icons">category</span>
              <span class="ml-2">Category</span>
            </a>
            <a href="/admin/orders" class="flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded">
              <span class="material-icons">shopping_cart</span>
              <span class="ml-2">Orders</span>
            </a>
            <a href="/admin/coupons" class="flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded">
              <span class="material-icons">redeem</span>
              <span class="ml-2">Coupons</span>
            </a>
            <a href="/admin/offers" class="flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded">
              <span class="material-icons">local_offer</span>
              <span class="ml-2">Offers</span>
            </a>
            <a href="/admin/banner" class="flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded">
              <span class="material-icons">campaign</span>
              <span class="ml-2">Banner</span>
            </a>
            <a href="/admin/customers" class="flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded">
              <span class="material-icons">people</span>
              <span class="ml-2">Customers</span>
            </a>
          </nav>
    
          <!-- Logout -->
          <div class="mt-2">
            <a href="/admin/logout" class="flex items-center text-red-600 hover:bg-red-100 p-2 rounded">
              <span class="material-icons">logout</span>
              <span class="ml-2">Logout</span>
            </a>
          </div>
        </div>
      </aside>
    
      <!-- Main content goes here -->
      <div class="container mx-auto py-8 px-5 flex-1">
        <h1 class="text-3xl font-bold mb-6 text-center">Edit Product</h1>
    
        <form
          id="product-form"
          action="/admin/products/edit"
          method="POST"
          enctype="multipart/form-data"
        > 
        <% if(typeof product !=='undefined' && product) {%>
          <input type="hidden" name="productId" value="<%=product._id%>">

          <div class="mb-10 flex space-x-10">
            <div class="w-1/2">
              <label class="text-gray-700">Product Name</label>
              <input
                type="text"
                value="<%=product.productName%>"
                id="product-name"
                name="productName"
                class="mt-1 block w-full rounded p-2"
                required
              />
            </div>
            <div class="w-1/2">
              <label class="block text-gray-700">Price</label>
              <input
                type="number"
                value="<%=product.price%>"
                id="price"
                name="price"
                class="mt-1 block w-full rounded p-2"
                required
              />
            </div>
            <div class="w-1/2">
              <label class="block text-gray-700">Discount</label>
              <input
                name="discount"
                id="discount"
                class="mt-1 block w-full rounded p-2"
                value="<%=product.discount%>"
                required
              >
              </input>
            </div>
          </div>
          <div class="mb-10">
            <label class="text-gray-700">Product Description</label>
            <input
              type="text"
              value="<%=product.description%>"
              name="description"
              id="description"
              class="mt-1 block w-full rounded p-2"
              required
            />
          </div>
          <div class="mb-10 flex space-x-10">
            <div class="w-1/2">
              <label class="block text-gray-700">Category</label>
              <select
                name="category"
                id="category"
                class="mt-1 block w-full rounded p-2"
                required
              >
                <option value="<%=product.category.categoryName%>"> <%=product.category.categoryName%></option>
                 <% category.forEach((category) => { %>
                <option value="<%= category.categoryName%>"><%= category.categoryName%></option>
              <% }) %>
              </select>
            </div>
            <div class="w-1/2">
              <label class="block text-gray-700">Size</label>
              <select
                name="size"
                id="size"
                class="mt-1 block w-full rounded p-2"
                required
              >
                <option value="<%= product.size%>" selected> <%= product.size%></option>
                <option value="S">Small (S)</option>
                <option value="M">Medium (M)</option>
                <option value="L">Large (L)</option>
              </select>
            </div>  
            <div class="w-1/2">
              <label class="block text-gray-700">Stock</label>
              <input
                type="number"
                value="10"
                id="stock"
                name="stock"
                class="mt-1 block w-full rounded p-2"
                required
              />
            </div>
          </div>
          <div class="mb-4 flex space-x-10">
            <div class="mb-4">
              <label>Upload Image:</label>
              <input type="file" id="image-input" accept="image/*" />
              <img
                id="image-preview"
                class="hidden mt-5"
                style="max-width: 300px"
              />
              <button
                type="button"
                id="button"
                class="bg-blue-500 text-white mt-5 px-4 py-2 rounded hover:bg-blue-700 transition duration-200 hidden"
                >
                Crop Image
              </button>
              <button
              type="button"
              id="cancel-button"
              onclick="removeNewImage()"
              class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 transition duration-200 hidden"
            >
              Cancel
            </button>
           
              <!-- <input type="hidden" id="cropped-image-data1" name="croppedImages" />
              <input type="hidden" id="cropped-image-data2" name="croppedImages" />
              <input type="hidden" id="cropped-image-data3" name="croppedImages" /> -->
            </div>
          </div>
    
          <div id="image-preview-container" class="flex flex-wrap mt-4">
            <% product.images.forEach((imgUrl, index) => { %>
              <div>
                <img src="<%= imgUrl%> " alt="image preview" style="max-width: 150px;margin-right: 20px;">
                <button
                type="button"
                id="remove-button"
                onclick="removeImage('<%= imgUrl%>')"
                class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-700 transition duration-200 "
              >
                Remove
              </button>
              <input type="hidden" value="<%= imgUrl%>" id="cropped-image-data<%= index+1%>" name="croppedImages" />

              
            </div>
            
            <% }) %>
          </div>
          <!-- <input type="hidden"  id="prev-image-data1" name="croppedImages" /> -->
          <!-- <input type="hidden"  id="prev-image-data2" name="croppedImages" /> -->
          <!-- <input type="hidden"  id="prev-image-data3" name="croppedImages" /> -->

          <div class="flex justify-center mt-4">
            <a href="/admin/products" class="bg-gray-300 text-black px-4 py-2 rounded mr-2">Cancel</a>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Update Product</button>
          </div>

          <% } %>
          
        </form>
      </div>
    </div>
    
     

    <% if(typeof success !== 'undefined' && success){ %>
    <script>
      Swal.fire({
        title: "Success!",
        icon: "success",
        text: "Product updated successfully!",
        confirmButtonText: "Ok",
      }).then((result) => { 
        if (result.isConfirmed) {
          window.location.href = "/admin/products";
        }
      });
    </script>

    <% }else if(typeof success !== 'undefined' && !success){ %>
    <script>
      Swal.fire({
        title: "Error!",
        icon: "error",
        text:  'Failed to update product!'  ,
        confirmButtonText: "Ok",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/admin/products";
        }
      });
      
    </script>
    <% } %>

    <!-- Google Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/cropperjs@1.5.13/dist/cropper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/editProducts.js"></script>
  </body>
</html>
