<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>



  <!-- Header -->
  <header class="bg-black py-5 px-8 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <div class="logo">
        <a href="/user/home">
          <h1 class="text-2xl text-white font-bold uppercase">UrbanGents</h1>
        </a>
      </div>
      <div class="flex items-center space-x-8 hidden md:flex">
        <a href="/user/profile" class="text-white">
          <span class="material-icons">person</span>
        </a>
        <a href="/user/cart" class="text-white">
          <span class="material-icons">shopping_cart</span>
        </a>
        <a href="/user/wishlist" class="text-white">
          <span class="material-icons">favorite</span>
        </a>
      </div>
    </div>
  </header>

  <div class="px-4 mt-5 ">
    <span>
      <h2><a href="/user/home">Home</a><a href="/user/cart"> / Cart</a> <a href="/user/checkout"> / Checkout</a></h2>
    </span>

  </div>

  <% if(typeof cart !== 'undefined' && cart){ %>

  <!-- Main Checkout Section -->
  <div class="container mx-auto flex flex-wrap lg:flex-nowrap bg-white p-4 shadow my-8">

    <!-- Address and Payment Section -->
    <div class="w-full lg:w-2/3 py-2 px-8 max-w-4xl">

      <div>

        <div class="flex justify-between">
          <h1 class="text-4xl font-bold mb-4">Checkout</h1>
          <button
          class="p-2 bg-black text-white mt-4 font-semibold rounded-lg shadow"
          id="add-address-btn"
          >
          Add New Address
        </button> 
       </div>
       <div
            class="p-4 border border-gray-200 rounded-lg shadow-lg space-y-2 my-5 bg-white hidden"
            id="add-address-form"
          >
            <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">
              Add Your Address
            </h2>
            <form id="address-form"> 
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="space-y-4">
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >First Name</label
                    >
                    <input
                      type="text"
                      name="firstName"
                      id="first-name"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="First Name"
                    />
                    <span id="first-name-error" class="text-red-600"></span>
                  </div>
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >Pincode</label
                    >
                    <input
                      type="number"
                      name="pincode"
                      id="pincode"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="Pincode"
                    />
                    <span id="pincode-error" class="text-red-600"></span>
                  </div>
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >Mobile Number</label
                    >
                    <input
                      type="number"
                      name="phoneNumber"
                      id="phone-number"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="Mobile Number"
                    />
                    <span id="phone-number-error" class="text-red-600"></span>
                  </div>
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >Landmark</label
                    >
                    <input
                      type="text"
                      name="landmark"
                      id="landmark"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="Landmark"
                    />
                    <span id="landmark-error" class="text-red-600"></span>
                  </div>
                </div>

                <div class="space-y-4">
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      name="lastName"
                      id="last-name"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="Last Name"
                    />
                    <span id="last-name-error" class="text-red-600"></span>
                  </div>
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >State</label
                    >
                    <input
                      type="text"
                      name="state"
                      id="state"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="State"
                    />
                    <span id="state-error" class="text-red-600"></span>
                  </div>
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >City</label
                    >
                    <input
                      type="text"
                      name="city"
                      id="city"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="City"
                    />
                    <span id="city-error" class="text-red-600"></span>
                  </div>
                  <div>
                    <label class="block text-sm font-medium text-gray-700"
                      >District</label
                    >
                    <input
                      type="text"
                      id="district"
                      name="district"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                      placeholder="District"
                    />
                    <span id="district-error" class="text-red-600"></span>
                  </div>
                </div>
              </div>
              <!-- Address session here... -->
              <div class="flex flex-col mt-5">
                <div>
                  <label class="block text-sm font-medium text-gray-700"
                    >Address</label
                  >
                  <input
                    type="text"
                    name="address"
                    id="address"
                    class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter you Address"
                  />
                  <span id="address-error" class="text-red-600"></span>
                </div>
              </div>

              <fieldset class="mt-4">
                <legend class="text-sm font-medium text-gray-700">
                  Address Type
                </legend>
                <div class="mt-2">
                  <label class="inline-flex items-center mr-6">
                    <input
                      type="radio"
                      class="form-radio text-blue-600"
                      name="addressType"
                      value="home"
                    />
                    <span class="ml-2">Home</span>
                  </label>
                  <label class="inline-flex items-center">
                    <input
                      type="radio"
                      class="form-radio text-blue-600"
                      name="addressType"
                      value="office"
                      required
                    />
                    <span class="ml-2">Office</span>
                  </label>
                </div>
              </fieldset>
              <div class="flex items-center mt-4">
                <input
                  type="checkbox"
                  id="setDefault"
                  class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
                />
                <label for="setDefault" class="ml-2 block text-sm text-gray-900"
                  >Set this as default address</label
                >
              </div>
              <button
                type="submit"
                class="mt-6 w-2/4 bg-black text-white py-2 rounded-md transition duration-200"
              >
                Save Address
              </button>
              <button
                class="mt-6 w-1/6 bg-slate-300 text-black py-2 rounded-md transition duration-200"
                id="cancel-btn"
              >
                Cancel
              </button>
            </form>
          </div>
      </div>
       
      <% if(typeof user !== 'undefined' && user) {%>
        
        <h2 class="text-xl font-semibold mb-4">Deliver To</h2>
        <form id="checkout-form">
        <% user.addresses.forEach((address) => { %>
        <div class="bg-white p-6 mb-6 rounded-lg shadow">

            <div class="flex items-center mb-4">
              <input type="radio" name="address" data-addressId="<%=address._id%>" class="address-input w-5 h-5 text-indigo-600" <%=address.isDefault ? 'checked': '' %> >
              <label for="address1" class="ml-4 text-gray-700">
                <% if(address.isDefault){%>
                  <span class="block font-bold">Default Address</span>
                  <% } %>
                  <span class="block text-sm"><%=address.firstName %> <%=address.lastName %>, <%=address.address%></span>
                  <span><%=address.state%>, <%=address.district%>, <%=address.city%></span>
                  <span class="block text-sm">Mobile Number : <%=address.number%></span>
                  <span class="block text-sm">Pincode : <%=address.pincode%></span>
                  <span class="text-sm bg-red-100 font-semibold text-red-700 p-1 rounded uppercase"> <%=address.addressType%></span>
              </label>
              <a href="/user/profile/address/edit?id=<%=address._id%>" class="ml-auto text-indigo-600 hover:underline">Edit</a>
            </div>  
          </div>
        <% }) %>
      <% } %>
      
      <% if(typeof cart !== 'undefined' && cart) {%>

      <!-- Choose Payment Option Section -->
      <div class="bg-white p-6 rounded-lg shadow">
        <h2 class="text-xl font-semibold mb-4">Choose Payment Option</h2>
          <!-- Payment Option 1 -->
           <% if(cart.totalDiscount > 1000 ) { %>
            <div class="flex items-center ">
              <input type="radio" disabled class="w-5 h-5 text-indigo-600" >
              <label class="ml-4 text-gray-700 font-medium">Cash On Delivery</label>
            </div>
            <p class="text-red-600 mb-4">Cash on Delivery is not available for purchases above ₹1,000.</p>
            <% }else{ %>
              <div class="flex items-center mb-4">
                <input id="COD" type="radio" name="payment" class="w-5 h-5 text-indigo-600" >
                <label for="payment1" class="ml-4 text-gray-700 font-medium">Cash On Delivery</label>
              </div>
            <% } %> 
            <div class="flex items-center mb-4">
            <input id="razorpay" type="radio" name="payment" data-amount="<%=cart.totalDiscount %>" class="w-5 h-5 text-indigo-600" >
            <label for="payment1" class="ml-4 text-gray-700 font-medium">Razorpay</label>
          </div>
          <!-- add more payment option for later -->
        </div>
      </div>


    <!-- Order Summary Section -->
      <div class="w-full lg:w-1/3 p-4 mt-8 lg:mt-0">
        <% if(typeof coupon !== 'undefined' && cart.totalDiscount > 1000) { %>
          <!-- coupon section -->
          <div class="my-4">
            <label for="coupon" class="block text-md font-medium text-gray-700 mb-2">Select a Coupon</label>
            <select id="coupon" data-cartId="<%= cart._id %>" name="coupon"  class="block w-full uppercase px-4 py-2 border rounded-md shadow-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500">
              <option value="" disabled selected>Select a Coupon</option>
              <% coupon.forEach(value => { %>
                <option value="<%=value._id %>"  ><%=value.discountPercentage %>% - <%=value.code %></option>
             <% }) %>
            </select>
            
            <!-- Buttons for applying or removing the coupon -->
            <div class="flex mt-2">
              <button id="applyBtn" type="button" class="mr-2 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none">Apply</button>
              <button id="removeBtn"  type="button" class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none">Remove</button>
            </div>
          </div>
          <% } %>
          <!-- coupon section end  -->


        <div class="bg-gray-50 p-4 rounded-md shadow-md">
        <h2 class="text-xl font-bold mb-5">Order Summary</h2>
        <div class="text-gray-600 mb-5">
          <div class="flex justify-between mb-4">
            <span class="font-semibold text-black">Cart Total (<%=cart.items.length %> items)</span>
            <span class="text-black font-bold">₹<%=cart.totalPrice%></span>
          </div>
          <div class="flex justify-between mb-4">
            <span>Savings:</span>
            <% const savings = cart.totalPrice - cart.totalDiscount%>
            <span class="text-green-700 font-bold">- ₹<%=savings %></span>
          </div>
          
          <div class="flex justify-between">
            <span>Shipping</span>
            <span>Free</span>
          </div>
          <% if(cart.couponDiscount !== '' && cart.couponDiscount){ %>
          <div class="flex justify-between my-4">
            <span>Coupon Discount</span>
            <span><%=cart.couponDiscount %>%</span>
          </div>
          <% } %>
        </div>
        <hr class="my-5">
        <% if(cart.couponDiscount !== '' && cart.couponDiscount){ %>
          <% const amount = (cart.totalDiscount - (cart.totalDiscount * cart.couponDiscount) / 100).toFixed() %>
          <div class="flex justify-between text-xl font-semibold">
            <span>Payable Amount</span>
            <span class="font-bold">₹<%=amount %></span>
          </div>
          <% }else{ %>
            <div class="flex justify-between text-xl font-semibold">
              <span>Payable Amount</span>
              <span class="font-bold">₹<%=cart.totalDiscount %></span>
            </div>
       <% } %>

        <button id="place-order-button" type="click"  class="w-full bg-black text-white text-center py-2 mt-4 rounded-md uppercase">
          Place order
        </button>
      </form>
      </div>
    </div>
    <% } %>

  </div>  
  <% } %>


  <script src="/javascript/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
