<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/zoom.css">


  </head>
  <body >

    <!-- Header -->

    <header class="bg-stone-950 py-5 px-4 sm:px-8 shadow-md">
      <div class="container flex justify-between items-center">
        <!-- nav bar logo -->
        <div class="logo">
          <a href="/user/home">
            <h1 class="text-2xl sm:text-3xl text-white font-bold uppercase">UrbanGents</h1>
          </a>
        </div>
        
            <!-- Navbar search input -->
        <div class="relative hidden md:block">
            <input type="text" id="search-input"
            class="border border-gray-300 w-80 rounded-lg px-2 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 "
            placeholder="Search...">
            <button id="search-button">
              <svg class="w-5 h-5 absolute right-3 top-3 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="17.65" y2="17.65"></line>
              </svg>
            </button>
        </div>
      
         <!-- Desktop Menu -->
        <div class="hidden sm:flex justify-between items-center space-x-6">
          <a href="/user/profile" class="text-white">
            <span class="material-icons">person</span>
          </a>
          <a href="/user/cart" class="text-white mx-4">
            <span class="material-icons">shopping_cart</span>
          </a>
          <a href="/user/profile/wishlist" class="text-white">
            <span class="material-icons">favorite</span>
          </a>
        </div>
  
        <!-- Mobile Menu Toggle -->
        <div class="sm:hidden flex items-center space-x-4" id="menu-toggle">
          <button class="text-white focus:outline-none">
            <span class="material-icons">menu</span>
          </button>
        </div>
  
        <!-- Mobile Sidebar -->
        <div id="mobile-sidebar" class="fixed inset-0 bg-gray-800 bg-opacity-100 z-50 hidden transform -translate-x-full transition-transform duration-300">
          <div class="flex flex-col items-center justify-center space-y-6 p-6">
            <a href="/user/cart" class="text-white text-xl">Cart</a>
            <a href="/user/profile/wishlist" class="text-white text-xl">Wishlist</a>
            <a href="/user/profile" class="text-white text-xl">Profile</a>
            <button id="close-sidebar" class="text-white text-2xl">&times; Close</button>
          </div>
        </div>
  
      </div>
    </header>

    <!-- Main Content -->
    <% if(typeof product !== 'undefined' && product) { %>
    <div class="p-2">
      <a href="/user/home" class="ml-10">Home / Product</a>
    </div>
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 h-full mb-5">
        <!-- Product Image and Thumbnails -->
        <div class=" flex flex-col items-center ">
          <!-- Main Product Image -->
           <div class="flex  img-zoom-container" id="img-zoom-container">
             <img
             id="product-image"
             src="<%=product.images[0]%>"
             data-zoom-image="<%=product.images[0]%>"
             alt="Product Image"
             class="w-4/4 h-96 object-cover rounded-lg border shadow-md mb-4"
             />            
             
             <div id="myresult"  class="img-zoom-result md:ml-96 absolute hidden  "></div> 
            </div>

        
            <!-- Alternative Images (Thumbnails) -->
            <div id="thumbnail" class="flex space-x-4">
              <% product.images.forEach((image)=> {%>
                <img
                id="thumbnail"
                src="<%=image%>"
                alt="Alt Image 1"
                class="w-24 h-24 object-cover rounded-lg border shadow-md cursor-pointer thumbnail"
                />
                <% }) %>
              </div>

        </div>

        <!-- Product Info -->
        <div class="flex flex-col justify-center p-5 m-auto">
          <h1 class="text-3xl font-bold text-gray-900 mb-4 uppercase">
            <%=product.productName%>
          </h1>
          <p class="text-gray-600 mb-6"><%=product.description%></p>

          <div class="flex items-center space-x-4 mb-6">
            <% if( product.discount > 0){ %> <%const price = product.price -
            (product.price * product.discount / 100) %>
            <span class="text-gray-900 font-bold text-2xl"
              >₹<%=(price).toFixed()%></span
            >
            <p class="text-rose-700 text-xl font-semibold">
              (<span class="font-medium text-md text-rose-700"
                ><%=product.discount%>% OFF</span
              >)
            </p>
            <span class="text-lg text-gray-500 line-through"
              >₹<%=product.price%></span
            >
            <% }else{ %>
            <span class="text-gray-900 font-bold text-xl"
              >₹<%=product.price%></span
            >
            <% } %>
          </div>

          <!-- product rating here -->
          <div class="flex space-x-2 mb-5">
            <svg
              class="w-4 fill-[#facc15]"
              viewBox="0 0 14 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z"
              />
            </svg>
            <svg
              class="w-4 fill-[#facc15]"
              viewBox="0 0 14 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z"
              />
            </svg>
            <svg
              class="w-4 fill-[#facc15]"
              viewBox="0 0 14 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z"
              />
            </svg>
            <svg
              class="w-4 fill-[#CED5D8]"
              viewBox="0 0 14 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z"
              />
            </svg>
            <svg
              class="w-4 fill-[#CED5D8]"
              viewBox="0 0 14 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z"
              />
            </svg>
          </div>
          <% if(offerDiscount) {%>
            <div class="offer-section py-3"> 
              <h4 class="text-green-700 font-md font-bold">Available Offer</h4>
                <p class="text-md">Limited Time Offer This Product! <span class="font-bold text-md text-blue-700"><%=offerDiscount%>% OFF</span></p>
            </div>
          <% }%>

          <!-- Size Selection -->
          <div class="mb-6">
            <h3 class="text-lg font-semibold text-gray-900 mb-2">
              Select Size
            </h3>
            <div class="flex space-x-4">
  <% if (product.variant && product.variant.length > 0) { %> 
    <% product.variant.forEach((variant, index) => { %>
      <button
        class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-100 focus:outline-none variant-button <%= index === 0 ? 'bg-gray-300' : '' %>"
        onclick="showStockStatusAndUpdateButton('<%= variant.size %>', '<%= variant.stock %>  ', this)"
        data-stock="<%=variant.stock%>"
      >
        <%= variant.size %>
      </button>
    <% }) %>  
  <% } %>
</div>
<!-- Stock Status Display -->
<div id="stock-status" class="mt-4"></div>


          <!-- Cart and wishlist button-->

          <div class="flex items-center space-x-4">
            <button
            onclick="addToWishlist('<%=product._id%>')"
              class="px-6 py-3 bg-rose-500 text-white font-semibold rounded-lg hover:bg-rose-700 transition duration-300"
            >
              Wishlist
            </button>
            <% if(product.variant.length > 0){ %>
            <button
              data-id="<%=product._id%>"
              class="add-to-cart px-6 py-3 bg-sky-900 text-amber-100 font-semibold rounded-lg hover:bg-sky-950 transition duration-300"
            >
              Add to Cart
            </button>
            <% } %>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <% } %>

    <!-- Related Products -->
    <section class="py-12">
      <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-8 uppercase">Related Product</h2>
        <div class="flex flex-wrap align-center justify-center">
          <% if(typeof relatedProduct !== 'undefined' && relatedProduct) { %> 
            <% relatedProduct.forEach((product, index) => { %>
          <div class="category mx-8 hover:-translate-y-2 transition-all">
            <div class="max-w-xs mx-auto my-10">
              <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <a href="/user/product-details/<%=product._id%>">
                  <img
                    class="w-full h-64 object-cover"
                    src="<%=product.images[0]%>"
                    alt="Product Image"
                  />
                </a>
                <p></p>
                <div class="p-5">
                  <h3 class="text-gray-700 text-xl font-semibold">
                    <%=product.productName%>
                  </h3>
                  <div class="flex items-center justify-between mt-4">
                    <% if( product.discount > 0){ %> 
                    <%const price = product.price - (product.price * product.discount / 100)  %>
                    <span class="text-gray-900 font-bold text-xl"
                      >₹<%=Math.trunc(price)%></span
                    >
                    <% }else{ %>
                    <span class="text-gray-900 font-bold text-xl"
                      >₹<%=product.price%></span
                    >
                    <% } %>
                    <button
                      data-id="<%=product._id%>"
                      data-variant="<%=product.variant[0].size%>"
                      class="add-to-cart px-4 py-2 bg-sky-900 text-white text-xs font-bold uppercase rounded hover:bg-sky-950"
                    >
                      Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%})%> 
          <% } %>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-gray-900 text-white py-4">
      <div class="text-center mt-4">
        <p>&copy; 2024 UrbanGents</p>
      </div>
    </footer>



    <script src="/javascript/productDetails.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  document.getElementById('img-zoom-container').addEventListener('mouseenter', () => { 
      const result = document.getElementById('myresult'); 
      result.classList.remove('hidden') 
      imageZoom("product-image", "myresult"); 
    }) 
    document.getElementById('img-zoom-container').addEventListener('mouseleave', () => { 
      const result = document.getElementById('myresult'); 

      result.classList.add('hidden') 
      document.getElementById("imageZoom").remove() 
 
    })
  </script>
    <script> 

   

  function imageZoom(imgID, resultID) { 
    var img, lens, result, cx, cy; 
    img = document.getElementById(imgID); 
    result = document.getElementById(resultID); 
    /*create lens:*/ 
    lens = document.createElement("DIV"); 
     
    lens.setAttribute("class", "img-zoom-lens"); 
    lens.setAttribute("id",'imageZoom'); 
    /*insert lens:*/ 
    img.parentElement.insertBefore(lens, img); 
    /*calculate the ratio between result DIV and lens:*/ 
    cx = result.offsetWidth / lens.offsetWidth; 
    cy = result.offsetHeight / lens.offsetHeight; 
    /*set background properties for the result DIV:*/ 
    result.style.backgroundImage = "url('" + img.src + "')"; 
    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px"; 
    /*execute a function when someone moves the cursor over the image, or the lens:*/ 
    lens.addEventListener("mousemove", moveLens); 
    img.addEventListener("mousemove", moveLens); 
    /*and also for touch screens:*/ 
    lens.addEventListener("touchmove", moveLens); 
    img.addEventListener("touchmove", moveLens); 
    function moveLens(e) { 
      var pos, x, y; 
      /*prevent any other actions that may occur when moving over the image:*/ 
      e.preventDefault(); 
      /*get the cursor's x and y positions:*/ 
      pos = getCursorPos(e); 
      /*calculate the position of the lens:*/ 
      x = pos.x - (lens.offsetWidth / 2); 
      y = pos.y - (lens.offsetHeight / 2); 
      /*prevent the lens from being positioned outside the image:*/ 
      if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; } 
      if (x < 0) { x = 0; } 
      if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; } 
      if (y < 0) { y = 0; } 
      /*set the position of the lens:*/ 
      lens.style.left = x + "px"; 
      lens.style.top = y + "px"; 
      /*display what the lens "sees":*/ 
      result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px"; 
    } 
    function getCursorPos(e) { 
      var a, x = 0, y = 0; 
      e = e || window.event; 
      /*get the x and y positions of the image:*/ 
      a = img.getBoundingClientRect(); 
      /*calculate the cursor's x and y coordinates, relative to the image:*/ 
      x = e.pageX - a.left; 
      y = e.pageY - a.top; 
      /*consider any page scrolling:*/ 
      x = x - window.pageXOffset; 
      y = y - window.pageYOffset; 
      return { x: x, y: y }; 
    } 
  } 
</script>


   
  </body>
</html>
