<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
</head>
<body>

    <header class="bg-stone-950 py-5 px-8 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
          <div class="logo">
            <a href="/user/home">
              <h1 class="text-2xl text-white font-bold uppercase">UrbanGents</h1>
            </a>
          </div>
          
          <div class="flex justify-between items-center">
            <a href="/user/profile" class="text-white mx-4">
              <span class="material-icons">person</span> 
            </a>
            <a href="/user/cart" class="text-white mx-4">
              <span class="material-icons">shopping_cart</span> 
            </a>
            <a href="/user/wishlist" class="text-white mx-4">
              <span class="material-icons">favorite</span> 
            </a>
            <a href="/user/logout" class="text-white">Logout</a>
          </div>
          
        </div>
      </header>


<!-- Hero Section -->
<section >
  <div class="relative font-sans before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10">
    <img src="/images/banner1.webp" alt="Banner Image" class="absolute inset-0 w-full h-full object-cover" />

    <div class="min-h-[350px] relative z-50 h-full max-w-6xl mx-auto flex flex-col justify-center items-center text-center text-white p-6">
      <h1 class="text-4xl font-bold">Mens Casual Style Trend</h1>
      <p class="sm:text-lg text-base text-center text-gray-200">Embark on unforgettable journeys. Book your dream vacation today!</p>

      <a
       href="/user/all-products"
        class="mt-12 bg-transparent text-white text-base py-3 px-6 border border-white rounded-lg hover:bg-white hover:text-black transition duration-300">
        Shop Now
      </a>
    </div>
  </div>
</section>

<!-- Products -->
<section class="py-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8 uppercase">Top Rated Product</h2>
    <div class="flex flex-wrap align-center justify-center">
      <% if(typeof product !== 'undefined' && product) { %>
        <% product.forEach((product, index) => { %>
            <div class="category mx-8 hover:-translate-y-2 transition-all">
                <div class="max-w-xs mx-auto my-10">
                    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                        <a href="/user/product-details/<%=product._id%>">
                            <img class="w-full h-64 object-cover" src="<%=product.images[0]%>" alt="Product Image">
                        </a>
                      <p></p>
                      <div class="p-5">
                          <h3 class="text-gray-700 text-xl font-semibold"><%=product.productName%></h3>
                        <div class="flex items-center justify-between mt-4">
                          <% if( product.discount > 0){ %>
                            <%const price = product.price - (product.price * product.discount / 100) %>
                            <span class="text-gray-900 font-bold text-xl">₹<%=Math.trunc(price)%></span>
                          <% }else{ %>
                            <span class="text-gray-900 font-bold text-xl">₹<%=product.price%></span>
                          <% } %> 
                          <button data-id="<%=product._id%>" data-variant="<%=product.variant[0].size %>" class="add-to-cart px-4 py-2.5 bg-sky-800 text-white text-xs font-bold uppercase rounded hover:bg-sky-900">Add to Cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div> 
        <%})%>
    <% } %>

    </div>
  </div>
</section>

</section>

  <!-- Products in Spotlight -->
  <section class="py-12 bg-gray-100">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-8">Products In The <span class="text-red-800">Spotlight</span></h2>
      <div class="flex flex-wrap align-center justify-center">

        <% if(typeof spotlight !== 'undefined' && spotlight) { %>
            <% spotlight.forEach((spotlight, index) => { %>
               
         <div class="product mx-8">
            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/user/product-details/<%=spotlight._id%>">
                    <img class="p-8 rounded-t-lg" src="<%=spotlight.images[0]%>" alt="product image" />
                </a>
                <div class="px-5 pb-5">
                        <h4 class="text-xl mb-5 font-semibold tracking-tight text-gray-900 dark:text-white"><%=spotlight.productName%></h4>
                    <div class="flex items-center mt-2.5 mb-5">
                        <div class="flex items-center space-x-1 rtl:space-x-reverse">
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                        </div>
                        <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">5.0</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-2xl font-bold text-gray-900 dark:text-white">₹<%=spotlight.price%></span>
                        <a data-id="<%=spotlight._id%>" data-variant="<%=spotlight.variant[0].size%>"  class=" add-to-cart text-white bg-sky-800 hover:bg-sky-900  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>

            <%})%>
        <% } %>

      </div>
    </div>
  </section>
  


  <footer class="bg-gray-900 text-white py-4">
    <div class="text-center mt-4">
      <p>&copy; 2024 UrbanGents</p>
    </div>
  </footer>
  
  <script src="/javascript/userHome.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
  
  
</body>
</html>
