<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Page</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <!-- Header  -->
    <header class="bg-black py-5 px-8 shadow-md">
      <div class="container mx-auto flex justify-between items-center">
        <div class="logo">
          <a href="/user/home">
            <h1 class="text-2xl text-white font-bold uppercase">UrbanGents</h1>
          </a>
        </div>

        <div class="flex justify-between items-center hidden md:flex">
          <a href="/user/profile" class="text-white mx-4">
            <span class="material-icons">person</span>
          </a>
          <a href="/user/cart" class="text-white mx-4">
            <span class="material-icons">shopping_cart</span>
          </a>
          <a href="/user/wishlist" class="text-white mx-4">
            <span class="material-icons">favorite</span>
          </a>
        </div>
      </div>
    </header>

    <!-- Main Container -->

    <div class="container mx-auto mt-3 p-4 flex flex-col lg:flex-row sticky top-4">
      <!-- Sidebar -->
      <% if(typeof user !== 'undefined' && user) { %>
      <aside
        class="w-full lg:w-1/6 bg-white p-4 rounded-lg shadow-md mb-4 lg:mb-0"
      >

        <div class="text-center">
          <div class="w-24 h-24 mx-auto rounded-full bg-gray-300 mb-2">
            <img
              src="https://avatar.iran.liara.run/public/boy?username=Ash"
              alt="User Avatar"
              class="w-full h-full rounded-full object-cover"
            />
        </div>

            <h2 class="text-lg font-semibold uppercase"><%=user.firstName %></h2>
        </div>
        <% } %> 
        <!-- Navigation Menu -->
        <nav class="text-center mt-5 space-y-4">
          <a
            href="/user/profile"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Person Info"
          >
            <span class="material-icons text-lg leading-none">person</span>
            <span class="ml-2">Person Info</span>
          </a>
          <a
            href="/user/profile/coupons"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Coupons"
          >
            <span class="material-icons text-lg leading-none">redeem</span>
            <span class="ml-2">Coupons</span>
          </a>
          <a
            href="/user/profile/address"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Person Info"
          >
            <span class="material-icons text-lg leading-none"> home </span>
            <span class="ml-2">Address</span>
          </a>
          <a
            href="/user/profile/wishlist"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Wishlist"
          >
            <span class="material-icons text-lg leading-none">favorite</span>
            <span class="ml-2">Wishlist</span>
          </a>
          <a
            href="/user/profile/orders"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Orders"
          >
            <span class="material-icons text-lg leading-none">inventory_2</span>
            <span class="ml-2">Orders</span>
          </a>
          <a
            href="/user/profile/wishlist"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Wallet"
          >
            <span class="material-icons text-lg leading-none"
              >account_balance_wallet</span
            >
            <span class="ml-2">Wallet</span>
          </a>
         
          <a
            href="/user/logout"
            class="flex items-center justify-center text-red-600 bg-grey-100 p-2 rounded mt-10"
            aria-label="Logout"
          >
            <span class="material-icons text-lg leading-none">logout</span>
            <span class="ml-2">Logout</span>
          </a>
        </nav>

      </aside>


      <!-- Profile Details -->
      <main class="w-full lg:w-3/4 lg:ml-4 bg-white px-6 pb-5 rounded-lg shadow-md">
        <span href="/user/home" class="text-black mt-5"
        ><a href="/user/home">Home</a> >
        <a href="/user/profile/orders"><strong>Orders</strong></a>
      </span>
        <div class="max-w-7xl mx-auto px-8">
          <h1 class="text-3xl font-semibold text-center mb-6">Your Orders</h1>
      
          <% if (typeof orders !== 'undefined' && orders.length > 0) { %>
            <% orders.forEach(order => { %>
                <% order.items.forEach(item => { %>
            <!-- Order Items in Grid -->
              <div id="order-items" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-6">
                  <!-- Order Item -->
                  <div class="order-item bg-white shadow-lg rounded-lg p-6 flex items-center justify-between">
                    <div class="flex items-center space-x-4">
                      <!-- Product Image -->
                      <img
                        src='<%=item.productId.images[0]%>'
                        alt="Product Image"
                        class="w-20 h-20 object-cover rounded-md"
                      />
                      <!-- Order Info -->
                      <div class="order-info space-y-4">
                        <h3 class="text-lg font-semibold text-gray-800"><%= item.productId.productName %></h3>
                        <p class="text-gray-500 ">Order Date : <%= order.createdAt.toDateString() %></p>
                        <p class="text-gray-600 ">Quantity : <%= item.quantity %></p>
                        <p class="text-gray-600 ">TotalPrice: <%= item.subTotal %></p>
                        <% if(item.status === 'pending' || item.status === 'shipped'){ %>
                            <p class="mt-4">
                                <span class="inline-block px-3 py-1 text-sm font-medium rounded bg-yellow-100 text-yellow-800 uppercase">
                                    <%= item.status %>
                                </span>
                            </p>
                        <% } else if(item.status === 'cancelled' || item.status === 'returned'){ %>
                            <p class="mt-4">
                                <span class="inline-block px-3 py-1 text-sm font-medium rounded bg-red-200 text-red-800 uppercase">
                                    <%= item.status %>
                                </span>
                            </p>
                        <% } else { %>
                            <p class="mt-4">
                                <span class="inline-block px-3 py-1 text-sm font-medium rounded bg-green-100 text-green-800 uppercase">
                                    <%= item.status %>
                                </span>
                            </p>
                        <% } %>
                      </div>
                    </div>
                    <!-- Button Section -->
                    <div class="flex space-x-4 justify-end">
                      <!-- Return & Cancel Button -->
                       <% if(item.status === 'delivered' && item.status !== 'returned') { %>
                        <div class="order-actions text-right">
                          <button class="return-button w-full bg-gray-300 text-black px-4 py-2 rounded-md hover:bg-gray-400" data-itemId="<%=item._id%>" data-orderId="<%=order._id%>">Return</button>
                        </div>
                        <% } else if(item.status !== 'returned' && item.status !== 'delivered'){ %>
                          <div class="order-actions text-right">
                            <button class="cancel-button w-full bg-gray-300 text-black px-4 py-2 rounded-md hover:bg-gray-400" data-itemId="<%=item._id%>" data-orderId="<%=order._id%>">Cancel</button>
                          </div>
                      <% } %>
                      <!-- View Details Button -->
                      <div class="order-actions text-right">
                        <button class="view-details w-full bg-black text-white px-4 py-2 rounded-md " data-orderId="<%=order._id %>">View Details</button>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
            <% }) %>
          <% } else { %>
            <p class="text-center text-gray-600">No orders found.</p>
          <% } %>
        </div>
      </main>
      
    </div>
  </body>

  <script src="/javascript/userOrders.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- Include SweetAlert2 from a CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
