<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-gray-100">
    <!-- Header  -->
    <header class="bg-stone-950 py-5 px-4 sm:px-8 shadow-md">
      <div class="container flex justify-between items-center">
        <!-- nav bar logo -->
        <div class="logo">
          <a href="/user/home">
            <h1 class="text-2xl sm:text-3xl text-white font-bold uppercase">UrbanGents</h1>
          </a>
        </div>
        
            <!-- Navbar search input -->
        <div class="relative hidden md:block">
            <input type="text" id="search-input"
            class="border border-gray-300 w-80 rounded-lg px-2 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 "
            placeholder="Search...">
            <button id="search-button">
              <svg class="w-5 h-5 absolute right-3 top-3 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="17.65" y2="17.65"></line>
              </svg>
            </button>
        </div>
      
         <!-- Desktop Menu -->
        <div class="hidden sm:flex justify-between items-center space-x-6">
          <a href="/user/profile" class="text-white">
            <span class="material-icons">person</span>
          </a>
          <a href="/user/cart" class="text-white mx-4">
            <span class="material-icons">shopping_cart</span>
          </a>
          <a href="/user/profile/wishlist" class="text-white">
            <span class="material-icons">favorite</span>
          </a>
        </div>
  
        <!-- Mobile Menu Toggle -->
        <div class="sm:hidden flex items-center space-x-4" id="menu-toggle">
          <button class="text-white focus:outline-none">
            <span class="material-icons">menu</span>
          </button>
        </div>
  
        <!-- Mobile Sidebar -->
        <div id="mobile-sidebar" class="fixed inset-0 bg-gray-800 bg-opacity-100 z-50 hidden transform -translate-x-full transition-transform duration-300">
          <div class="flex flex-col items-center justify-center space-y-6 p-6">
            <a href="/user/cart" class="text-white text-xl">Cart</a>
            <a href="/user/profile/wishlist" class="text-white text-xl">Wishlist</a>
            <a href="/user/profile" class="text-white text-xl">Profile</a>
            <button id="close-sidebar" class="text-white text-2xl">&times; Close</button>
          </div>
        </div>
  
      </div>
    </header>
    <!-- Main Container -->
  
    <% if(typeof user !== 'undefined' && user){ %>

    <div class="container mx-auto mt-3 p-4 flex flex-col lg:flex-row">
      <!-- Sidebar -->
      <aside
        class="w-full lg:w-1/6 bg-white p-4 rounded-lg shadow-md mb-4 lg:mb-0"
      >
        <div class="text-center">
          <div class="w-24 h-24 mx-auto rounded-full bg-gray-300 mb-2">
            <img
              src="https://avatar.iran.liara.run/public/boy?username=Ash"
              alt="User Avatar"
              class="w-full h-full rounded-full object-cover"
            />
          </div>
          <h2 class="text-lg font-semibold uppercase"><%=user.firstName %></h2>
         
        </div>
        <!-- Navigation Menu -->
        <nav class="text-center mt-5 space-y-4">
          <a
            href="/user/profile"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Person Info"
          >
            <span class="material-icons text-lg leading-none">person</span>
            <span class="ml-2">Person Info</span>
          </a>
          <a
            href="/user/profile/coupons"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Coupons"
          >
            <span class="material-icons text-lg leading-none">redeem</span>
            <span class="ml-2">Coupons</span>
          </a>
          <a
            href="/user/profile/address"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Person Info"
          >
            <span class="material-icons text-lg leading-none"> home </span>
            <span class="ml-2">Address</span>
          </a>
          <a
            href="/user/profile/wishlist"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Wishlist"
          >
            <span class="material-icons text-lg leading-none">favorite</span>
            <span class="ml-2">Wishlist</span>
          </a>
          <a
            href="/user/profile/orders"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Orders"
          >
            <span class="material-icons text-lg leading-none">inventory_2</span>
            <span class="ml-2">Orders</span>
          </a>
          <a
            href="/user/profile/wallet"
            class="flex items-center justify-center text-gray-700 bg-gray-200 p-2 rounded"
            aria-label="Wallet"
          >
            <span class="material-icons text-lg leading-none"
              >account_balance_wallet</span
            >
            <span class="ml-2">Wallet</span>
          </a>
         
          <a
            href="/user/logout"
            class="flex items-center justify-center text-red-600 bg-grey-100 p-2 rounded mt-10"
            aria-label="Logout"
          >
            <span class="material-icons text-lg leading-none">logout</span>
            <span class="ml-2">Logout</span>
          </a>
        </nav>
      </aside>

      <main class="w-full lg:w-3/4 lg:ml-4 bg-white p-6 rounded-lg shadow-md">
        <span class="text-black mb-5">
          <a href="/user/home">Home</a> >
          <a href="/user/profile/wallet"><strong>Wallet</strong></a>
        </span>
      
        <!-- Wallet Section -->
        <div class="bg-white rounded-lg shadow-md p-6 w-full">
          <div class="flex justify-between mb-4">
            <h2 class="text-2xl font-bold">My Wallet</h2>
            <button id="add-money-button" class="bg-black text-white px-2 py-2 rounded hover:bg-gray-800 transition duration-200">
              Add Money
            </button>
            <div id="add-money-container" class="hidden mb-2  ">
              <input type="number" id="add-money-input" min="0" class="border rounded">
              <button id="add-button" class="bg-green-500 text-black py-1 ml-2 px-3 rounded-md transition duration-200">Add</button>
              <button id="cancel-button" class="bg-slate-300 text-black py-1 ml-2 px-3 rounded-md transition duration-200">Cancel</button>
            </div>
          </div>
          <div class="flex items-center justify-between mb-4">
            <span class="text-gray-700 text-lg">Current Balance:</span>
            <span class="text-2xl font-semibold text-green-600">₹ <%=user.walletAmount %>.00</span>
          </div>
        </div>
      
        <!-- Transaction History Section -->
        <div class="bg-white rounded-lg shadow-md p-6 w-full mt-8">
          <h2 class="text-2xl font-bold mb-4 text-center">Transaction History</h2>
          <table class="min-w-full text-left text-gray-700">
            <thead class="border-b">
              <tr>
                <th class="px-4 py-2 text-center"">Date</th>
                <th class="px-4 py-2 text-center">Amount</th>
                <th class="px-4 py-2 text-center">Type</th>
                <th class="px-4 py-2 text-center">Description</th>
              </tr>
            </thead>
            <tbody>
                <% user.transaction.forEach(transaction => { %>
                    <tr class="border-b hover:bg-gray-100">
                        <td class="px-4 py-2 text-center"><%=transaction.createdAt.toLocaleString()%></td>
                        <% if(transaction.transactionType === 'Credit') {%>
                          <td class="px-4 py-2 text-green-600 text-center"> + ₹<%=transaction.amount%></td>
                        <% } else {%>
                          <td class="px-4 py-2 text-red-600 text-center"> - ₹<%=transaction.amount%></td>
                        <% } %>  
                        <td class="px-4 py-2 text-center"><%=transaction.transactionType %></td>

                        <td class="px-4 py-2 text-center <%=transaction.transactionType === 'Credit'? 'text-green-600': 'text-red-600' %>"><%=transaction.transactionType === 'Credit'? 'Added': 'Purchase' %></td>
                    </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </main>
      
      <% } %>    


    </div>
   
  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/javascript/wallet.js"></script>
</html>
